<% include ../layouts/header %>

<h1>User Info Page</h1>
<hr>
<p><b>ID:</b> <%= user.id %></p>
<p><b>Username:</b> <%= user.username %></p>
<p><b>Email:</b> <%= user.email %></p>
<% if (user.role) { %>
  <p><b>Role:</b> <%= user.role %></p>
<% } %>

<a href="/users/<%= user.id %>/update" class='btn btn-info'>Update</a>
<a href="/users/<%= user.id %>/delete">Delete</a>

<% include ../layouts/footer %>